table, th, td {
    /* border: 1px solid black; */
    padding:10px;
  }
  .covid-confirmed:hover{
      background-color:rgba(255,7,58,.12549019607843137) ;
  }
  .covid-active:hover{
    background-color:rgba(0, 123, 255, 0.125) ;
}
.covid-recovered:hover{
    background-color: rgba(40,167,69,.12549019607843137);
}
.covid-deaths:hover{
    background-color: rgba(108,117,125,.06274509803921569);
}
.state-head{
    background-color:aquamarine;
}
.state-head:hover{
    background-color: aqua;
    cursor: pointer;
}
.table-head{
    background-color:rgba(93, 100, 107, 0.063) ;
}
.input-search{
    padding:8px;
    outline: none;
    border: none;
    font-size: 20px;
}

  .state-data{
      width:40%;
      margin: auto;
  }
  .table-data{
      width:50%;
      margin:auto
  }
  .search-box{
      width:320px;
      height:auto;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      border:.5px solid black ;
      /* padding:10px; */
      margin: 20px auto;
      background-color: #fff;
  }
  .search-box > i{
      font-size: 18px;
      color:#888;
  }
  .head-box{
      margin-top: 20px;
        font-size: 13px;
        text-align: center;
        border-radius: 10px;
     
    
    }
    .covid-india{
    display: flex; 
    flex-direction: row;
     flex-wrap: wrap ;
     margin: 0;
     background: linear-gradient(25deg, #98f898 50%,#50c878 50%);
    }
  @media screen and (max-width:1080px) {
      .state-data{
          width:100%
      }
      .table-data{
          width: 100%;
      }
  }