.container-fluid{
    width:40%;
    margin:0 auto;
    /* text-align: center; */
    
}
.container-fluid>h3{
    color:darkcyan;
    position:relative;
    width: 23rem;
    
    margin: 30px auto;
    text-align: center;
}

.accordion{
    text-align: left;
    width: 70%;
    margin:10px auto;
    border-radius: 30px;
}

.panel {
    position: relative;
    padding:0 15px;
    left: 60px;
    margin:10px 0;
    border-left: 3px solid cyan;
    overflow: hidden;
    /* max-height: 200px; */
    width: 80%;
}


@media screen and (max-width:980px) {
    .container-fluid{
        width:100%;
        margin:20px 10px;
    }
    .accordion{
        text-align: left;
        width: 100%;
    }
}